<div class="chat-header">
  <div class="left-header">
    <p>チャットルーム名1</p>
  </div>
  <div class="right-header">
    <a href="#">チャットを終了する</a>
  </div>
</div>


<div class="messages">
  <div class="message">
    <div class="all-message">
      <div class="upper-message">
        <p class="name">kwon</p>
        <p class="time">2022/2/20(Sun) 10:02:53</p>
      </div>
      <div class="lower-message">
        <p class="text">おはよう</p>
      </div>
    </div>
  </div>

  <div class="message">
    <div class="all-message">
      <div class="upper-message">
        <p class="name">Junya</p>
        <p class="time">2022/2/20(Sun) 19:25:39</p>
      </div>
      <div class="lower-message">
        <p class="text">こんばんは</p>
      </div>
    </div>
  </div>
</div>


<div class="form">
  <div class="form-content">
    <input placeholder="type a message" class="text-form">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="form-btn">
</div>